<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SVD_PCA/src/ua/edu/svd/SVD.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ua.edu.svd.SVD"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="4 D:\\Akron\\Academics\\Advanced_Algos\\Projects\\SVD_PCA\\athatava\\SVD2.txt_50.SVD"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SVD_PCA"/>
</launchConfiguration>
