<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SVD_PCA/src/ua/edu/svd/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ua.edu.svd.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D:/Akron/Academics/Advanced_Algos/Projects/SVD_PCA/PGMimages/fractal_tree.ascii.pgm"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SVD_PCA"/>
</launchConfiguration>
